:root {
   /*===========Light Them===========*/
    /*===========Brand===========*/
    --semantyc-brand: var(--color-prmary-800);
    --semantyc-brand-hover: var(--color-prmary-950);
    /*Tono mas alto que el brand*/
    --semantyc-brand-soft: var(--color-prmary-200);
    --semantyc-brand-soft-hover: var(--color-prmary-350);
    /*Background*/
    --semantyc-background: var(--color--white);
    --semantyc-surface: var(--color-gray-400);
    /*Containers*/
    --semantyc-surface-muted: var(--color-gray-200);
    /*Menos importancia*/
    --semantyc-surface-inverse: var(--color-black);

    /*=========TEXT===========*/
    --semantyc-text-primary: var(--color-gray-900); /*Color Principal de lectura, titulos, texto base del documento*/
    /*Dominantes*/
    --semantyc-text-secundary: var(--color-gray-700);/*Texto menos dominante*/
    /*Ejemplo*/
    --semantyc-text-muted: var(--color-gray-500); /*Texto deshabilitado por ejemplo*/
    /*Ejemplo*/
    --semantyc-text-inverse: var(--color--white); /*Texto invertido*/

    /*========Border=========*/
    --semantyc-border: var(--color-gray-400); /**Border principal de todos los componentes*/
    --semantyc-border-strong: var(--color-gray-700); /*Bordes mas fuertes*/

    /*===========Focus============*/
    --semantyc-focus-ring: var(--color-primary-700);

    /*===========State============*/
    --semantyc-succes: var(--color-primary-950);
    --semantyc-warning: var(--color-tertiary-950);
    --semantyc-error: var(--color-secondary-950);

    /*===========Typografhy============*/
    --semantyc-font-size-display: var(--fs-xxl);  /*Texto de alto impacto, texto protagonista, hero, numeros grandes*/
    --semantyc-font-size-h1: var(--fs-lg);
    --semantyc-font-size-h2: var(--fs-md);
    --semantyc-font-size-h3: var(--fs-sm);
    --semantyc-font-size-body: var(--fs-xs);
    --semantyc-font-size-medium: var(--fs-xxs);
    --semantyc-font-size-small: var(--fs-xxxs);
    --semantyc-font-size-caption: var(--fs-xxxxs); /*Caption es texto auxiliar muy pequeño.*/
    
    /*===========Font-wheight============*/
    --semantyc-font-weight-heading: var(--font-weight-bold);
    --semantyc-font-weight-boddy: var(--font-weight-regular);
    --semantyc-font-weight-label: var(--font-weight-regular);

    /*=======================================================================*/
    /* Ya no dependemos de nombres de color, Dependemos de intención*/
    /*=======================================================================*/
}