:root {
  /* Primary color */
  --primary-950: #4DB100;
  --primary-900: #55B40C;
  --primary-800: #67BC26;
  --primary-700: #79C43F;
  --primary-600: #8BCC59;
  --primary-500: #9DD472;
  --primary-400: #AEDB8C;
  --primary-300: #C0E3A5;
  --primary-200: #D2EBBF;
  --primary-100: #EAF3D8;
  --primary-50:  #F6FBF2;

  /* Secondary color */
  --secondary-950: #FED638;
  --secondary-900: #FED841;
  --secondary-800: #FEDC55;
  --secondary-700: #FEE069;
  --secondary-600: #FEE47D;
  --secondary-500: #FEE891;
  --secondary-400: #FEECA5;
  --secondary-300: #FEF0B9;
  --secondary-200: #FEF4CD;
  --secondary-100: #FEF8E1;
  --secondary-50:  #FEFCF5;

  /* Tertiary-2 color */
  --tertiary-950: #50E5F9;
  --tertiary-900: #58E6F9;
  --tertiary-800: #6AE8F9;
  --tertiary-700: #7BEBFA;
  --tertiary-600: #8DEEFB;
  --tertiary-500: #9EF0FB;
  --tertiary-400: #B0F3FC;
  --tertiary-300: #C1F5FC;
  --tertiary-200: #D3F8FD;
  --tertiary-100: #E4FBFE;
  --tertiary-50:  #F6FDFE;

  /* Basic color */
  --white: #fff;
  --black: #000;
  --gray-950: #101010;
  --gray-900: #262626;
  --gray-800: #3B3B3B;
  --gray-700: #515151;
  --gray-600: #676767;
  --gray-500: #7D7D7D;
  --gray-400: #929292;
  --gray-300: #A8A8A8;
  --gray-200: #BEBEBE;
  --gray-100: #D4D4D4;
  --gray-50:  #E9E9E9;


  /* Primary color */
  /* --primary-950: #887E5C;
  --primary-900: #988D6F;
  --primary-800: #A79D81;
  --primary-700: #B6AD94;
  --primary-600: #C5BDA7;
  --primary-500: #D4CDBA;
  --primary-400: #E4DDCA;
  --primary-300: #F3ECCF;
  --primary-200: #F5F2D2;
  --primary-100: #F7F5E0;
  --primary-50:  #F9F8EE; */

  /* Secondary color */
  /* --secondary-950: #2D1F15;
  --secondary-900: #372519;
  --secondary-800: #412B1D;
  --secondary-700: #4A3122;
  --secondary-600: #543726;
  --secondary-500: #5E3D2A;
  --secondary-400: #86674B;
  --secondary-300: #A58A75;
  --secondary-200: #C3AE9F;
  --secondary-100: #E1D1CA;
  --secondary-50:  #F4EBE6; */

  /* Tertiary-2 color */
  /* --tertiary-950: #613503;
  --tertiary-900: #723D03;
  --tertiary-800: #834504;
  --tertiary-700: #954E04;
  --tertiary-600: #A65605;
  --tertiary-500: #B75F06;
  --tertiary-400: #E68E3C;
  --tertiary-300: #EEB779;
  --tertiary-200: #F2CCA5;
  --tertiary-100: #F6E2D1;
  --tertiary-50:  #F9F1E6; */

  /* Basic color */
  /* --white: #fff;
  --black: #000;
  --gray-950: #F6F6F6;
  --gray-900: #E9E9E9;
  --gray-800: #D1D1D1;
  --gray-700: #B8B8B8;
  --gray-600: #9F9F9F;
  --gray-500: #878787;
  --gray-400: #6E6E6E;
  --gray-300: #565656;
  --gray-200: #3D3D3D;
  --gray-100: #242424;
  --gray-50:  #181818; */

  /* Typography*/
  --main-font: Helvetica, Arial, sans-serif;
  --secundar-font: Helvetica, Arial;

  /*font-weight*/
  --font-wight-light:300;
  --font-wight-regular:400;
  --font-wight-bold:700;

  /*Font-Size*/
    --fs-xxxxl:5rem; /* Ultra grande */
  --fs-xxxl:4rem; /* Súper grande */
  --fs-xxl:3rem; /* Extra grande */
  --fs-xl:2.5rem; /* Muy grande */
  --fs-lg:2rem; /*Grande */
  --fs-md:1.5rem; /* Mediano */
  --fs-sm:1.25rem; /* Pequeño*/
  --fs-xs:1rem; /* Base */
  --fs-xxs:0.875rem; /* muy pequeño 14px*/
  --fs-xxxs:0.75rem; /* Extra extra pequeño 12px */
  --fs-xxxxs:0.5rem; /* Mínimo  8 px*/
}